<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class="pull-right">
    <a href="https://github.com/AdelMahjoub/markdown-previewer-angular" class="btn btn-default">Github</a>
    <a href="https://www.freecodecamp.com/adelmahjoub" class="btn btn-default" target="_blank">FreeCodeCamp</a>
    </div>
    <div class="page-header">
      <h1>Markdown Previewer</h1>
      <a href="https://help.github.com/articles/basic-writing-and-formatting-syntax/" target="_blank">Markdown tutorial</a>
    </div>
  </div>
</div>